// bower:scss
// endbower

@import "base";

body {
  background: #1b2836;
  font-family: Fira, Monospace, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F5F5F5;
  line-height: 1.75rem;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.sections p {
  display: none !important;
}
